<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uniview.customer.mapper.EmployeeMapper">

    <resultMap id="BaseResultMap" type="com.uniview.customer.pojo.Employee">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="employeeCode" column="employee_code" jdbcType="VARCHAR"/>
            <result property="employeeName" column="employee_name" jdbcType="VARCHAR"/>
            <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
            <result property="telephone" column="telephone" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="departmentId" column="department_id" jdbcType="INTEGER"/>
            <result property="roleId" column="role_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,employee_code,employee_name,
        mobile,telephone,email,
        department_id,role_id
    </sql>
</mapper>
