<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uniview.order.mapper.OrderItemMapper">

    <resultMap id="BaseResultMap" type="com.uniview.order.pojo.OrderItem">
            <id property="orderItemId" column="order_item_id" jdbcType="BIGINT"/>
            <result property="orderId" column="order_id" jdbcType="BIGINT"/>
            <result property="productId" column="product_id" jdbcType="BIGINT"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
            <result property="unitPrice" column="unit_price" jdbcType="DECIMAL"/>
            <result property="totalPrice" column="total_price" jdbcType="DECIMAL"/>
            <result property="discount" column="discount" jdbcType="DECIMAL"/>
            <result property="taxRate" column="tax_rate" jdbcType="DECIMAL"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        order_item_id,order_id,product_id,
        quantity,unit_price,total_price,
        discount,tax_rate,created_at,
        updated_at
    </sql>
</mapper>
