<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uniview.product.mapper.InventoryMapper">

    <resultMap id="BaseResultMap" type="com.uniview.product.pojo.Inventory">
            <id property="inventoryId" column="inventory_id" jdbcType="BIGINT"/>
            <result property="productId" column="product_id" jdbcType="BIGINT"/>
            <result property="location" column="location" jdbcType="VARCHAR"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
            <result property="batchNumber" column="batch_number" jdbcType="VARCHAR"/>
            <result property="expirationDate" column="expiration_date" jdbcType="DATE"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        inventory_id,product_id,location,
        quantity,batch_number,expiration_date,
        created_at,updated_at
    </sql>
</mapper>
